<% content_for :for_head do %>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<% end %>

<p id="notice"><%= notice %></p>

<div id="leftcol">
  <div class="passage">
    <p class="passage-info"><span class="boldme">Title:</span> <%= @passage.title %></p>
    <p class="passage-info"><span class="boldme">Author:</span> <%= @passage.author %></p>
    <p class="passage-info"><span class="boldme">Language:</span> <%= @passage.language %></p>
    <p><% all_words(@passage.content).each do |x| %>
      <span class="passage-word"><a href="#"><%= x %></a></span> 
    <% end %>
    </p>
    <p class="passage-info"><%= link_to 'Edit', edit_passage_path(@passage) %> |
    <%= link_to 'Back', passages_path %>
    </p>
  </div>
</div>

<div id="rightcol">
  <div class="author-notes">

  </div>

  <div class="inline"><span class="passage-word"><p class="btn btn-primary">Show All Words</p></span></div>
  <div class="inline"><span class="passage-word"><p class="btn btn-primary">Hide My Words</p></span></div>

  <div id="vocab-box">
    <ul class="vocab-list"><% unique_words(@passage.content).each do |x| %>
      <% begin %>
        <li class="vocab-item">
          <p class="vocab-word"><%= x %></p>
            <% if current_user.vocab_list.has_key?(x) %>
              <%= button_to "Remove from My Words", remove_from_vocab_list_passages_path(:vocab_word => x), :class => "btn btn-warning" %>
            <% else %>
              <%= button_to "Add to My Words", add_to_vocab_list_passages_path(:vocab_word => x, :vocab_def => define_word(x)), :class => "btn btn-primary" %>
            <% end %>
          <p class="vocab-def"><%= define_word(x) %></p>
        </li>
          <% rescue Errno::ENOENT %>
            <%= "error:ENOENT" %>
          <% end %>
      <% end %>
    </ul>
  </div>
</div>

